html, body {
  height: 100%;
  background: #D3DBF2;
  font-family: 'Times New Roman', sans-serif;
}
/*====================landing page styling begins here============================*/
.landingpage {
  position: relative;
  margin: auto;
  width: 600px;
  height: 420px;
  margin-top: 4%;
  background: linear-gradient(rgba(38, 38, 43, 0.85), rgba(38, 38, 43, 0.95));
  z-index: 1;
  -webkit-box-shadow: 10px 10px 18px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 18px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 10px 10px 18px 0px rgba(0, 0, 0, 0.75);
}

.right-triangle {
  position: absolute;
  bottom: 0;
  right: 0;
  height: 100%;
  width: 50%;
  background: linear-gradient(rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.9)), url("../images/lpt.jpeg");
  -webkit-clip-path: polygon(100% 0, 0% 100%, 100% 100%);
  clip-path: polygon(100% 0, 0% 100%, 100% 100%);
}

.logo img {
  width: 15%;
  height: 20%;
  top: 5%;
  left: 10%;
  z-index: 1;
}

.presents-text {
  position: absolute;
  top: 36%;
  left: 10%;
  font-family: "Open Sans Condensed";
  color: #A19E9F;
  font-size: 16px;
  font-weight: 300;
}

.presents-text2 {
  position: absolute;
  top: 42%;
  left: 15%;
  font-family: "Open Sans Condensed";
  color: #A19E9F;
  font-size: 16px;
  font-weight: 300;
}

.register-button {
  position: absolute;
  width: 25%;
  height: 10%;
  bottom: 25%;
  left: 10%;
  background: #EF4135;
  border-radius: 0%;
  border: none;
  padding: 10;
  font-family: "Ubuntu";
  font-size: 16px;
  font-weight: 700;
  color: #ffffff;
  text-transform: uppercase;
}

.login-button {
  position: absolute;
  width: 25%;
  height: 10%;
  bottom: 25%;
  left: 50%;
  background: #EF4135;
  border-radius: 0%;
  border: none;
  padding: 10;
  font-family: "Ubuntu";
  font-size: 16px;
  font-weight: 700;
  color: #ffffff;
  text-transform: uppercase;
}

.tabs  li {
  display: inline-block;
}

.title {
  position: absolute;
  top: 25%;
  left: 10%;
  font-family: "Ubuntu";
  font-size: 48px;
  font-weight: 700;
  color: #ffffff;
  text-transform: none;
}

#signupForm, #loginForm, #addEntry, #editEntry {
  display: none;
  border: 6px solid salmon;
  padding: 2em;
  width: 400px;
  text-align: center;
  background: #fff;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  -webkit-transform: translate(-50%,-50%);
}

@media all and (max-width: 600px) {
  .landingpage {
    position: relative;
    margin: auto;
    display: block;
    margin-top: 10px;
    width: 300px;
    height: 200px;
    z-index: 1;
  }

  .presents-text {
    font-size: 8px;
  }

  .presents-text2 {
    font-size: 8px;
  }

  .title {
    font-size: 24px;
  }

  .register-button {
    font-size: 7px;
  }

  .login-button {
    font-size: 8px;
  }
}

.landingpage h1 {
  margin: 0;
}

.formBtn {
  display: inline-block;
  text-transform: uppercase;
  width: 30%;
  height: 5%;
  background: #EF4135;
  color: #fff;
  font-weight: 100;
  font-size: 1.2em;
  border: none;
  padding: 2px;
}

/*==================landing page ends======================================*/
/*==================Sign up and sign in form styling begins================*/

@media screen and (max-width: 700px) {
  table, tr, td {
    display: block;
  }

  tbody {
    height: 200px;
  }
}

*, *:before, *:after {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: #1ab188;
  transition: .5s ease;
}

a:hover {
  color: #179b77;
}

.form {
  background: rgba(19, 35, 47, 0.9);
  padding: 40px;
  max-width: 600px;
  margin: 40px auto;
  border-radius: 4px;
  box-shadow: 0 4px 10px 4px rgba(19, 35, 47, 0.3);
}

.tab-group {
  list-style: none;
  padding: 0;
  margin: 0 0 40px 0;
}

.tab-group:after {
  content: "";
  display: table;
  clear: both;
}

.tab-group li a {
  display: block;
  text-decoration: none;
  padding: 15px;
  background: rgba(160, 179, 176, 0.25);
  color: #a0b3b0;
  font-size: 20px;
  float: left;
  width: 50%;
  text-align: center;
  cursor: pointer;
  transition: .5s ease;
}

.tab-group li a:hover {
  background: #179b77;
  color: #ffffff;
}

.tab-group .active a {
  background: #EF4135;
  color: #ffffff;
}

.tab-content > div:last-child {
  display: none;
}

h1 {
  text-align: center;
  color: #ffffff;
  font-weight: 300;
  margin: 0 0 40px;
}

label {
  position: absolute;
  -webkit-transform: translateY(6px);
  transform: translateY(6px);
  left: 13px;
  color: rgba(255, 255, 255, 0.5);
  transition: all 0.25s ease;
  -webkit-backface-visibility: hidden;
  pointer-events: none;
  font-size: 22px;
}

label .req {
  margin: 2px;
  color: #EF4135;
}

label.active {
  -webkit-transform: translateY(50px);
  transform: translateY(50px);
  left: 2px;
  font-size: 14px;
}

label.active .req {
  opacity: 0;
}

label.highlight {
  color: #ffffff;
}

input, textarea {
  font-size: 22px;
  display: block;
  width: 100%;
  height: 100%;
  padding: 5px 10px;
  background: none;
  background-image: none;
  border: 1px solid #a0b3b0;
  color: #ffffff;
  border-radius: 0;
  transition: border-color .25s ease, box-shadow .25s ease;
}

input:focus, textarea:focus {
  outline: 0;
  border-color: #EF4135;
}

textarea {
  border: 2px solid #a0b3b0;
  resize: vertical;
}

.field-wrap {
  position: relative;
  margin-bottom: 20px;
  margin-bottom: 40px;
}

.button {
  border: 0;
  outline: none;
  border-radius: 0;
  padding: 15px 0;
  font-size: 2rem;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: .1em;
  background: #EF4135;
  color: #ffffff;
  transition: all 0.5s ease;
  -webkit-appearance: none;
}

.view {
  border-radius: 10px;
  padding: 10px 0;
  background-color: #AEDBB3;
  font-size: 1rem;
  font-weight: 200;
  transition: all 0.5s ease;
  color: #000;
  cursor: pointer;
}

.view:hover {
  background-color: #3DAE48;
}

.button:hover, .button:focus {
  background: #179b77;
}

.button-block {
  display: block;
  width: 100%;
}

.forgot {
  margin-top: -20px;
  text-align: right;
}

/*=================================signup and sign in form ends=================================*/

/*====================User dashboard styling begins here============================*/

.row {
  display: flex;
  flex-direction: row;
}

.row > .column-left {
  flex-basis: 300px;
  background-color: rgb(255,255,204);
}

.row > .column-right {
  flex-basis: 500px;
  background-color: #fff;
}

.container {
  margin: 0 auto;
  width: 800px;
}

.mt-5 {
  margin-top: 50px;
}

.bg-primary {
  background: #FFFFFF;
}

.bg-secondary {
  background: #EEEEEE;
}

.br-rounded {
  border-radius: 0 4px 4px 0;
  overflow: hidden;
}

.shadow {
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.15);
}

.entry {
  background: #FFFFFF;
  cursor: pointer;
  color: #999999;
  border: solid 2px #E3E3E3;
  border-radius: 4px;
  font-size: 12px;
  margin-bottom: 20px;
  padding: 10px;
  transition: all 0.2s;
}

.entry__image {
  height: 60px;
  width: auto;
}

.entry.selected, .entry:hover {
  border-color: #8998C7;
  border-width: 2px;
}

.user {
  display: flex;
  flex-direction: column;
  padding: 0 30px;
  max-height: 350px;
  overflow-y: scroll;
}

.user:after {
  content: 'dfs';
  display: block;
  opacity: 0;
}

.user__header {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 30px;
}

.user__add {
  cursor: pointer;
}

.user__add:hover {
  opacity: 0.8;
}

.content__header {
  border-bottom: solid 1px #E3E3E3;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 30px;
  margin-bottom: 0;
  padding-bottom: 30px;
  color: #000;
}

.content__title {
  color: #000;
}

.user__title {
  color: #000;
}

.content__amount {
  font-size: 24px;
  font-weight: 700;
  line-height: 30px;
}

.content__amount:before {
  content: '';
}

.content__amount > span {
  font-size: 0.7em;
  line-height: 20px;
  position: relative;
  top: -7px;
}

.entries {
  align-items: center;
  display: flex;
  flex-direction: row;
  margin: 20px 0;
}

.entriess {
  padding: 10px 30px;
  max-height: 350px;
  overflow-y: scroll;
}

.entries__icon {
  align-items: center;
  border: solid 1px #E3E3E3;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  width: 24px;
  height: 24px;
}

.entries__icon > i.-icons {
  font-size: 14px;
}

.entries__desc {
  flex: 1;
  font-size: 16px;
  font-weight: 700;
  line-height: 30px;
  padding: 0 30px;
}

.entries__details {
  color: #999999;
  display: block;
  font-size: 12px;
  line-height: 20px;
  font-weight: 400;
}

.entries__amount {
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
}

.entries__amount:before {
  content: '$';
}

.--minus > .entries__amount {
  color: #8998C7;
}

.--plus > .entries__amount {
  color: #8ACE5E;
}

.entries__amount > span {
  font-size: 0.7em;
  line-height: 20px;
  position: relative;
  top: -5px;
}

.block {
  display: block;
}

.btn-green-flat-trigger {
  border: 1px solid #47ba6b;
  background: transparent;
  font-size: 20px;
  color: #47ba6b;
  font-weight: 200;
  padding: 15px 30px;
  display: inline-block;
  margin: 0 auto;
  margin-top: 40px;
  border-radius: 4px;
  cursor: pointer;
}

.btn-green-flat-trigger:hover {
  text-decoration: none;
  color: #fff;
  background: #47ba6b;
  transition: background 0.5s ease, padding 0.8s linear;
}

.btn-green-flat {
  border: 1px solid #47ba6b;
  background: rgba(0, 0, 0, 0);
  font-size: 20px;
  color: #47ba6b;
  font-weight: 200;
  padding: 10px 28px;
  text-align: center;
  width: 175px;
  display: block;
  margin: 0 auto;
  margin-top: 20px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  cursor: pointer;
  text-transform: uppercase;
}

.btn-green-flat:hover {
  text-decoration: none;
  color: #fff;
  background: #47ba6b;
  transition: background 0.2s ease, padding 0.8s linear;
}

.overlay {
  background: rgba(255, 255, 255, 0.77);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.content-modal {
  visibility: hidden;
}

.content-modal_contents {
  background: #fff;
  -webkit-box-shadow: 0 0 8px 2px rgba(182, 182, 182, 0.75);
  -moz-box-shadow: 0 0 8px 2px rgba(182, 182, 182, 0.75);
  -o-box-shadow: 0 0 8px 2px rgba(182, 182, 182, 0.75);
  box-shadow: 0 0 8px 2px rgba(182, 182, 182, 0.75);
  width: 50%;
  position: absolute;
  left: 42%;
  margin-left: -16%;
  top: 15%;
  min-height: 450px;
}

.content-modal-header {
  border-bottom: 1px solid #ccc;
}

.content-modal-header h3 {
  color: #34495e;
  text-align: center;
  font-weight: bold;
  font-size: 22px;
}

.content-modal-header .mobile-close {
  display: none;
}

.content-modal-header span {
  font-weight: 200;
}

.content-modal-body {
  width: 100%;
}

.content-modal-body p {
  color: #34495e;
  font-size: 16px;
  line-height: 23px;
  text-align: center;
}

.content-modal-body .content-left {
  height: 225px;
  width: 50%;
  position: relative;
  top: 55px;
  float: left;
  border-right: 1px solid #ccc;
}

.content-modal-body .content-right {
  height: 225px;
  width: 50%;
  position: relative;
  top: 55px;
  float: left;
}

.content-right .sponsor-name {
  font-weight: bold;
  color: #000;
}

.content-modal_contents h1 {
  margin: 0;
  padding: 0;
  line-height: 32rem;
  text-align: center;
  display: block;
}

.content-modal_close {
  position: absolute;
  right: 2rem;
  top: 2rem;
  text-decoration: none;
  display: none;
}

.content-modal-show {
  visibility: visible;
}

.content-modal-transition {
  -webkit-transform: scale(0.7);
  -moz-transform: scale(0.7);
  -ms-transform: scale(0.7);
  transform: scale(0.7);
  opacity: 0;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}

.content-modal-show .content-modal-transition {
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  opacity: 1;
}

@media (max-width: 1139px) {
  .content-modal p {
    text-align: center;
  }

  .content-modal:after {
    clear: both;
    content: "";
    display: table;
  }

  .content-modal-body .content-left {
    width: 80%;
    display: block;
    float: none;
    margin: 0 auto;
    border-right: none;
    border-bottom: 1px solid #ccc;
  }

  .content-modal-body .content-right {
    width: 80%;
    display: block;
    margin: 40px auto;
    float: none;
    border-right: none;
  }
}

@media (max-width: 1027px) {
  .content-modal-header h3 {
    font-size: 18px;
  }
}

@media (max-width: 767px) {
  .content-modal_contents {
    top: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    margin: 0;
  }

  .content-modal-header h3 {
    font-size: 22px;
  }

  .content-modal-header .mobile-close {
    display: block;
    position: absolute;
    right: 10px;
    top: 10px;
    curson: pointer;
  }

  .content-modal_close {
    display: block;
  }

  .content-modal-transition {
    -webkit-transform: translateX(-0) translateY(150%);
    -moz-transform: translateX(-0) translateY(150%);
    -ms-transform: translateX(-0) translateY(150%);
    transform: translateX(-0) translateY(150%);
  }
}

@media (max-width: 495px) {
  .content-modal-header h3 {
    font-size: 18px;
  }
}

@media (max-width: 415px) {
  .content-modal-header h3 {
    font-size: 15px;
  }
}

.close {
  position: absolute;
  top: 0;
  right: 0;
  width: 35px;
  height: 30px;
  background: #000;
  color: #fff;
  cursor: pointer;
  border: 0;
}

.mask {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(52, 73, 94, 0.8);
  z-index: 50;
  visibility: hidden;
  opacity: 0;
  transition: 0.7s;
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 400px;
  height: 300px;
  margin-left: -200px;
  margin-top: -150px;
  background: #fff;
  padding: 10px;
  z-index: 100;
  visibility: hidden;
  opacity: 0;
  transition: 0.5s ease-out;
  transform: translateY(45px);
}

.active {
  visibility: visible;
  opacity: 1;
}

.active + .modal {
  visibility: visible;
  opacity: 1;
  transform: translateY(0);
}

input, textarea , select {
  margin: .8em auto;
  font-family: inherit;
  text-transform: inherit;
  font-size: inherit;
  display: block;
  width: 280px;
  padding: .4em;
}

.add {
  padding: 10px 30px;
  outline: none;
  background-color: #27ae60;
  border: none;
  border-radius: 5px;
  box-shadow: 0 9px #95a5a6;
  width: 100px;
  margin-top: 40px;
  cursor: pointer;
  border-left: 4px solid #739cda;
  font-size: 0.7em;
  color: #656565;
  font-weight: normal;
  -webkit-box-shadow: 1px 1px 2px rgba(0,0,0,0.3);
  -moz-box-shadow: 1px 1px 2px rgba(0,0,0,0.3);
  box-shadow: 1px 1px 2px rgba(0,0,0,0.3);
  -webkit-transition: all 0.15s linear;
  -moz-transition: all 0.15s linear;
  -ms-transition: all 0.15s linear;
  -o-transition: all 0.15s linear;
  transition: all 0.15s linear;
}
/*====================landing page styling ends here============================*/

/*====================landing page styling ends here============================*/

/* user menu settings */
#dropdown {
  display: block;
  padding: 5px 8px;
  width: 200px;
  margin: 0 auto;
  position: relative;
  cursor: pointer;
  border-left: 4px solid #739cda;
  background: #fff;
  font-size: 0.7em;
  color: #656565;
  font-weight: normal;
  -webkit-box-shadow: 1px 1px 2px rgba(0,0,0,0.3);
  -moz-box-shadow: 1px 1px 2px rgba(0,0,0,0.3);
  box-shadow: 1px 1px 2px rgba(0,0,0,0.3);
  -webkit-transition: all 0.15s linear;
  -moz-transition: all 0.15s linear;
  -ms-transition: all 0.15s linear;
  -o-transition: all 0.15s linear;
  transition: all 0.15s linear;
}

#dropdown:hover {
  color: #898989;
}

#dropdown.open {
  background: #5a90e0;
  color: #fff;
  border-left-color: #6c6d70;
}

#dropdown ul {
  position: absolute;
  top: 100%;
  left: -4px;
 /* move content -4px because of container left border */
  width: 250px;
  padding: 5px 0px;
  display: none;
  border-left: 4px solid #8e9196;
  background: #fff;
  -webkit-box-shadow: 1px 1px 2px rgba(0,0,0,0.3);
  -moz-box-shadow: 1px 1px 2px rgba(0,0,0,0.3);
  box-shadow: 1px 1px 2px rgba(0,0,0,0.3);
}

#dropdown ul li {
  font-size: 0.9em;
}

#dropdown ul li a {
  text-decoration: none;
  display: block;
  color: #447dd3;
  padding: 7px 15px;
}

#dropdown ul li a:hover {
  color: #6fa0e9;
  background: #e7f0f7;
}
