<!DOCTYPE html>
<html lang="en" dir="ltr">
	<head>
		<title>LandingPage</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
			<meta http-equiv="content-type" content="text/html; charset=utf-8">
				<meta name="keywords" content="MyDiary signup page">
					<link rel="stylesheet" type="text/css" href="../css/styles.css" media="all">
						<script src="../js/jquery-3.3.1.js"></script>
						<script src="../js/main.js"></script>
					</head>
					<body>
						<div class="container">
							<div class="row mt-5 br-rounded shadow">
								<div class="column-left bg-secondary">
									<div class="user__header">
										<h1 class="user__title">Edgar</h1>
										<div class="user__add">
											<i class="-icons">add</i>
										</div>
									</div>
									<div class="user">
										<div class="entry">
											<img class="entry__image" src="../images/reminder.jpg" alt="reminder"/>
											<p class="entry__id">Reminder:</p>
											<p class="entry__desc">Set up an appointment with chief of staff</p>
										</div>
										<div class="entry selected">
											<img class="entry__image" src="../images/reminder.jpg" alt="reminder"/>
											<p class="entry__id">Reminder:</p>
											<p class="entry__desc">Call the headquaters for deliveries</p>
										</div>
										<div class="entry">
											<img class="entry__image" src="../images/reminder.jpg" alt="reminder"/>
											<p class="entry__id">Reminder</p>
											<p class="entry__desc">Visit the park</p>
										</div>
									</div>
								</div>
								<div class="column-right bg-primary">
									<div class="content__header">
										<h1 class="content__title">My Entries</h1>
										<span class="">Total Entries:
											<span>5</span>
										</span>
									</div>
									<div class="entriess">
										<div class="entries --minus">
											<div class="entries__icon">
												<i class="-icons">remove</i>
											</div>
											<p class="entries__desc">Blockchain
												<span class="entries__details">The chain that has no end.... - 12 July 2018</span>
											</p>
											<span>
												<button class="view" type="button" id="view"  name="button">
													<i class="fa fa-angle-right">view</i>
												</button>
											</span>
										</div>
										<div class="entries --minus">
											<div class="entries__icon">
												<i class="-icons">remove</i>
											</div>
											<p class="entries__desc">Schedule
												<span class="entries__details">Meet with Sarah... 12 July 2018:10:00AM</span>
											</p>
											<span>
												<button class="view" type="button" id="view"  name="button">
													<i class="fa fa-angle-right">view</i>
												</button>
											</span>
										</div>
										<div class="entries --minus">
											<div class="entries__icon">
												<i class="-icons">remove</i>
											</div>
											<p class="entries__desc">Secret
												<span class="entries__details">Meet at workplace not hotel... 13 July 2018</span>
											</p>
											<span>
												<button class="view" type="button" id="view"  name="button">
													<i class="fa fa-angle-right">view</i>
												</button>
											</span>
										</div>
									</div>
								</div>
								<div class="content-modal">
									<div class="overlay"></div>
									<div class="content-modal_contents modal-transition">
										<div class="content-modal-header">
											<span class="mobile-close"> X </span>
											<h3>
												<span>Blockchain </span>
											</h3>
										</div>
										<div class="content-modal-body">
											<div class="content-left">
												<p>
          The chain that has no end.
													<br>This tech journaling was inspired by videos and articles,most from Eugene Mutai, Getting to understand blockchain is becoming an interesting process

													</p>
													<a href="#" class="btn-green-flat">Edit</a>
												</div>
												<div class="content-right">
													<p>Entry title:Blockchain
														<br>Date:12/July/2018
															<br>
																<span class="sponsor-name">Type:Random thougth</span>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
									</body>
								</html>
